
<EditForm Model="@changePasswordRequest" OnValidSubmit="SubmitPasswordChangeAsync">
    <DataAnnotationsValidator />
    <MudCard>
        <MudCardContent>
            <MudGrid>
                <MudItem xs="12">
                    <MudTextField @bind-Value="changePasswordRequest.CurrentPassword" T="string"
                                  Label="@_displayResources[DisplayResources.CurrentPassword]"
                                  For="@(()=>changePasswordRequest.CurrentPassword)"
                                  Immediate="true"
                                  Variant="Variant.Outlined"
                                  InputType="InputType.Password" />

                </MudItem>

                <MudItem xs="12" md="6">
                    <MudTextField @bind-Value="changePasswordRequest.NewPassword" T="string"
                                  For="@(()=>changePasswordRequest.NewPassword)"
                                  Immediate="true"
                                  Label="@_displayResources[DisplayResources.NewPassword]"
                                  Variant="Variant.Outlined"
                                  InputType="InputType.Password"
                                  Required="true" />
                </MudItem>
                <MudItem xs="12" md="6">
                    <MudTextField @bind-Value="changePasswordRequest.ConfirmationPassword" T="string"
                                  For="@(()=>changePasswordRequest.ConfirmationPassword)"
                                  Immediate="true"
                                  Label="@_displayResources[DisplayResources.PasswordConfirmation]"
                                  Variant="Variant.Outlined"
                                  InputType="InputType.Password"
                                  Required="true" />
                </MudItem>
            </MudGrid>
        </MudCardContent>
        <MudCardActions Class="pb-4 pl-4">
              <div class="d-flex flex-row justify-content-end m-2 gap-2" >

            <MudButton Disabled="@(!context.Validate() || !context.IsModified() || IsBusy)" Class="w-85" ButtonType="ButtonType.Submit" Size="Size.Large" Variant="Variant.Filled" Color="Color.Primary">
                @if (IsBusy)
                {
                    <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true" />
                    <MudText Class="ms-2">@_viewResources[ViewResources.Processing]</MudText>
                }
                else
                {
                    @_viewResources[ViewResources.ChangePassword]
                }
            </MudButton>

              </div>
        </MudCardActions>
    </MudCard>
</EditForm>


