@inherits BaseComponent
@if (!IsLoading)
{
    <div class="d-flex  align-content-center  justify-content-between mb-3">
        <h5>@_viewResources[ViewResources.PhoneNumbers]</h5>
        <MudButton StartIcon="@Icons.Rounded.AddCircle" Variant="Variant.Filled" OnClick="()=>AddOrUpdatePhoneNumber(null)" Color="Color.Primary">@_viewResources[ViewResources.AddNewNumber]</MudButton>
    </div>
    <MudDataGrid T="UserPhoneNumberResponse"
             Items="PhoneNumberCollection"
             Elevation="2"
             ColumnResizeMode="ResizeMode.Column"
             ReadOnly="false"
             EditTrigger="DataGridEditTrigger.Manual"
             EditMode="DataGridEditMode.Form"
             Hover="true" Dense="true" Striped="true"
             FixedHeader="true">
        <NoRecordsContent>
            <div class="height:100px;">
                <h6 class="text-secondary">@_messageResources[MessageResources.NoRecordFound]</h6>
            </div>
        </NoRecordsContent>
        <Columns>
            <Column T="UserPhoneNumberResponse" Field="@nameof(UserPhoneNumberResponse.PhoneNumber)" Title="@_displayResources[DisplayResources.UserPhoneNumber_PhoneNumber]">
                <CellTemplate>
                    <div class="d-flex flex-column align-items-start justify-content-start gap-1">
                        <div class="d-flex flex-row align-items-center justify-content-start">
                            <i class="far fa-@context.Item?.PhoneNumberType?.GetDisplayShortName()" />
                            <div class="mx-2">@context.Item?.PhoneNumber</div>
                        </div>
                        <small class="mx-1">@context.Item?.Description</small>
                    </div>
                </CellTemplate>
            </Column>
            <Column Resizable="false" Context="rowData" Sortable="false" T="UserPhoneNumberResponse">
                <CellTemplate>
                    <MudButtonGroup Color="Color.Primary" Variant="Variant.Text" Class="d-flex justify-end">
                        <MudIconButton Color="@Color.Inherit" OnClick="()=>AddOrUpdatePhoneNumber(rowData.Item)"><i class="far fa-edit" /></MudIconButton>
                        <MudIconButton Color="@Color.Error" OnClick="()=>DeletePhoneNumber(rowData.Item)"><i class="fas fa-trash-can" /></MudIconButton>
                    </MudButtonGroup>
                </CellTemplate>
            </Column>
        </Columns>
    </MudDataGrid>
}
else
{
    <Loading />
}


