@page "/login"
@layout AuthLayout
@attribute [AllowAnonymous]


<EditForm Model="@Request" OnValidSubmit="OnSubmitAsync">
                <FluentValidator />

    <MudText Typo="Typo.h4"
             GutterBottom="true">@_viewResources[ViewResources.Login]</MudText>
    <MudText>@_viewResources[ViewResources.NotRegisteredYet] <MudLink Href="@ApplicationURL.Register">@_viewResources[ViewResources.Register]</MudLink></MudText>
    <MudTextField @bind-Value="Request.Email"
                  For="@(() => Request.Email)"
                  Placeholder="@_viewResources[ViewResources.Email]"
                  Variant="Variant.Outlined"
                  Class="my-3"
                  Immediate=true />
    <MudTextField @bind-Value="@Request.Password"
                  For="@(() => Request.Password)"
                  Placeholder="@_viewResources[ViewResources.Password]"
                  Variant="Variant.Outlined"
                  InputType="@PasswordInput"
                  Adornment="Adornment.End"
                  AdornmentIcon="@PasswordInputIcon"
                  OnAdornmentClick="TogglePasswordVisibility"
                  Immediate=true />
    <MudCheckBox @bind-Checked="@Request.IsPersistent" T="bool"
                 Label="@_viewResources[ViewResources.RememberMe]"
                 Color="Color.Primary"
                 Class="ml-n3 my-2" />
    <MudButton ButtonType="ButtonType.Submit" Disabled="@(!context.Validate() || !context.IsModified() || IsBusy)" Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large" FullWidth="true">
        @if (IsBusy)
        {
            <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true" />
            <MudText Class="ms-2">@_viewResources[ViewResources.Processing]</MudText>
        }
        else
        {
            @_viewResources[ViewResources.SignIn]
        }
    </MudButton>
    <div>
        <br />
        <MudLink Href="@ApplicationURL.ForgotPassword">@_viewResources[ViewResources.ForgotYourPassword]</MudLink>
    </div>

</EditForm>

