@inherits BaseComponent

<MudDialog>

    <DialogContent>


        <EditForm Model="Model" OnValidSubmit="SaveChangesSubmit">
            <FluentValidator />

            @if (!IsLoading)
            {
                <MudTextField @bind-Value="@Model.Name"
                          For="() => Model.Name" 
                          Label="@_displayLocalizer[DisplayResources.RoleName]"
                          Variant="Variant.Outlined"
                          Immediate="true" />
                <div class="d-flex flex-row justify-content-end mt-4 mb-2 gap-2">
                    <MudButton OnClick="Cancel">@_viewLocalizer[ViewResources.Cancel]</MudButton>
                    <MudButton Disabled="@(!context.Validate() || !context.IsModified() || IsBusy)"
                           ButtonType="ButtonType.Submit"
                           Class="w-85"
                           Variant="Variant.Filled"
                           Color="Color.Primary">
                        @if (IsBusy)
                        {
                            <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true" />
                            <MudText Class="ms-2">@_viewLocalizer[ViewResources.Processing]</MudText>
                        }
                        else
                        {
                            @_viewLocalizer[ViewResources.SaveChanges]

                        }
                    </MudButton>
                </div>
            }
            else
            {

                <div class="d-flex align-items-center justify-content-center" style="height:200px;">
                    <Loading />
                </div>
            }
        </EditForm>

    </DialogContent>
</MudDialog>



