@inherits BaseComponent

<MudDialog>
    <DialogContent>
        <MudPaper Elevation="2" Class="m-n3 pa-1">
            <MudTable Items="@ClaimCollection"
                      MultiSelection="true"
                      Elevation="0"
                      Bordered=false
                      @bind-SelectedItems="SelectedClaims"
                      Filter="new Func<string,bool>(FilterFunc)"
                      FixedHeader=true
                      Height="350px"
                      Dense=true
                      Striped=true
                      Hover=true>
                <ToolBarContent>
                    <MudTextField @bind-Value="Query" Immediate=true Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
                </ToolBarContent>

                <HeaderContent>
                    <MudTh>@_viewResources[ViewResources.SelectAll]</MudTh>
                </HeaderContent>
                <RowTemplate>
                    <MudTd>@context</MudTd>
                </RowTemplate>
            </MudTable>


        </MudPaper>

    </DialogContent>
    <DialogActions>
        <div class="d-flex flex-row align-items-center justify-content-between m-2" style="width:100%;">
            <div class="ml-3">
                @_viewResources[ViewResources.SelectedClaims] : @SelectedClaims.Count
            </div>
            <div class="gap-2 mr-1">

                <MudButton OnClick="Cancel">@_viewResources[ViewResources.Cancel]</MudButton>
                <MudButton Disabled="@IsBusy"
                           OnClick="SaveChanges"
                           ButtonType="ButtonType.Submit"
                           Class="w-85"
                           Variant="Variant.Filled"
                           Color="Color.Primary">
                    @if (IsBusy)
                    {
                        <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true" />
                        <MudText Class="ms-2">@_viewResources[ViewResources.Processing]</MudText>
                    }
                    else
                    {
                        @_viewResources[ViewResources.SaveChanges]
                    }
                </MudButton>
            </div>

        </div>
    </DialogActions>
</MudDialog>



