@inherits BaseComponent

<MudDialog>
    <DialogContent>
        <MudSelect T="string"
                   Class="mb-3" 
                   SelectAll="true" 
                   SelectAllText="@_viewResources[ViewResources.SelectAll]"
                   MultiSelectionTextFunc="@(new Func<List<string>, string>(GetMultiSelectionText))"
                   MultiSelection="true"
                   Dense=true
                   @bind-SelectedValues="SelectedTenants"
                   Label="@_viewResources[ViewResources.Tenants]"
                   AdornmentIcon="@Icons.Material.Filled.Search"
                   Variant="Variant.Outlined"
                   AnchorOrigin="Origin.BottomCenter">
            @foreach (var client in TenantCollection)
            {
                <MudSelectItem T="string" Value="@client.Id">
                    @client.Name
                </MudSelectItem>
            }
        </MudSelect>
        <MudChipSet Style="max-height:50px;" Class="overflow-y-auto" AllClosable="true" OnClose="RemoveClient">
            @foreach (var id in SelectedTenants)
            {
                var client = TenantCollection.FirstOrDefault(x => x.Id == id);
                if (client != null)
                {
                    <MudChip Value="@client.Id.ToString()" Text="@client.Name"></MudChip>
                }
            }
        </MudChipSet>

    </DialogContent>
    <DialogActions>
            <div class="d-flex flex-row justify-content-end m-2 gap-2" >

            <MudButton OnClick="Cancel">@_viewResources[ViewResources.Cancel]</MudButton>
            <MudButton Disabled="@InProcess"
                       OnClick="SaveChanges"
                       ButtonType="ButtonType.Submit"
                       Class="w-85"
                       Variant="Variant.Filled"
                       Color="Color.Primary">
                @if (InProcess)
                {
                    <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true" />
                    <MudText Class="ms-2">@_viewResources[ViewResources.Processing]</MudText>
                }
                else
                {
                    @_viewResources[ViewResources.SaveChanges]
                }
            </MudButton>
        </div>

    </DialogActions>
</MudDialog>



